body {
    background-image: url("../images/crystal.jpg");
    background-size: 200%;
    background-position-x: -600px;
    background-position-y: 900px;
    color: whitesmoke;
    font-family: 'Oswald', sans-serif;
}

h1 {
    font-size: 3em;
    margin: 1em auto;
    text-align: center;
}

h2 {
    font-size: 2em;
}

p {
    display: block;
    margin: 1em 2em;
}

.crystal {
    float: left;
    height: 80px;
    margin-top: 10px;
    width: auto;
}

.crystals {
    display: inline-block;
    height: 90px;
    margin: 0, auto;
    text-align: center;
}

.game {
    align-content: center;
    background-color: slategrey;
    border: solid;
    border-width: 5px;
    border-color: black;
    float: left;
    height: 250px;
    margin-left: 5%;
    position: relative;
    text-align: center;
    width: 40%;
}

.instructions {
    font-size: 1em;
    border: solid;
    border-width: 5px;
    border-color: black;
    background-color: slategrey;
    margin: 2em auto;
    width: 50em;
}

.loss, .win {
    margin-top: 40px;
}

.total {
    display: inline-block;
    width: 100%;
}

.winLoss {
    background-color: slategrey;
    border: solid;
    border-width: 5px;
    border-color: black;
    float: right;
    height: 250px;
    margin-right: 5%;
    text-align: center;
    width: 40%;
}